<div class="row" ng-init="init()">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Backend Service API Call - 1</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#collapseExample">View</button>
                    </div>
                </div>
                <p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        {{albums}}
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">BackEnd Service API Call - 2</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#collapseExample2">View</button>
                    </div>
                </div>
                <p>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        {{albums2}}
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">BackEnd Service API Call - 3</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="collapse" href="#collapseExample3">View</button>
                    </div>
                </div>
                <p>
                <div class="collapse" id="collapseExample3">
                    <div class="card card-body">
                        {{albums3}}
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>


</div>










